<link rel="stylesheet" href="css/home.css">

<div class="photo-background fullscreen-background">
   <div class="mask-background fullscreen-background">
      <div class="header">
         <div class="row">
            <div class="logo-wrapper col-md-6">
               <a href="/" class="logo">Book Trading Club</a href="/">
            </div>
            <div class="nav col-md-6">
               <a class="nav-item" href="/login">Login</a>
               <a class="nav-item" href="/signup">Getting Started</a>
            </div>
         </div>
      </div>
   </div>
</div>