.fullscreen-background {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.photo-background {
	background-image: url('/images/home_background.jpg');
	background-size: cover;
}

.mask-background {
	background-color: rgba(50, 50, 50, 0.5);
}

.header {
	margin: 5%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-item {
  float: right;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
}

.content h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.content h2 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.buttons-container {
  margin: 50px auto;
  width: 190px;
}

.btn-home {
  background-color: #26B8E5;
  color: #fff;
  padding: 10px 15px;
  margin: 0px 10px;
}

.btn-home:hover {
  color: #fff;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.footer .content {
  width: 320px;
}

.footer a {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 0px 10px;
  text-align: center;
}

.footer a:hover {
  color: #26B8E5;
}