doctype html
html
  head
    title Rvg Voting App
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
  body
    #header
      .container
        .row
          .col-xs-3
            #logo
              a(href="/") Book Trading Club
          #nav.col-xs-7
            ul
              li
                a.active(href="/books") BOOKS
          #info-user.col-xs-2
            if (user)
              a(href="/settings") #{ user.local.email }
            else
              a(href="/signup") Signup
              a(href="/login") Login

    #content.container
      if message && message.length > 0
        div(role="alert").alert.alert-info
          span #{message}

      block content
    