.book-list {
  margin: 20px 0;
  padding: 40px 10px;
  position: relative;
}

.book-thumb-title {
  min-height: 50px;
}

.book {
  position: relative;
}

.remove-book-btn, .exchange-book-btn {
  border-radius: 0 0 0 5px;
  right: 0;
  top: 0;
}

.remove-book-btn:hover {
  background-color: red;
  color: #fff;
}

.exchange-book-btn:hover {
  color: #fff;
  background-color: green;
}

.exchange-book-btn.in-exchange, .exchange-book-btn.in-exchange:hover {
  background: yellow;
  color: #000;
}