.book-list {
  margin: 20px 0;
  padding: 40px 10px;
  position: relative;
}

.book-thumb-title {
  min-height: 80px;
}

.book {
  position: relative;
}

.remove-book-btn {
  border-radius: 0 0 0 5px;
  position: absolute;
  right: 0; 
  top: 0;
}

.remove-book-btn:hover {
  background-color: red;
  color: #fff;
}