<div ng-include src="'views/header.html'"></div>

<link rel="stylesheet" href="css/my-books.css">

<div class="internal-content container">
  <div id="books-index">
    <h1 class="title">Books</h1>
    <div id="books-list">
      <div class="row">
        <div class="col-xs-2" ng-repeat="book in books">
          <div class="book">
            <a href="/book">
              <h2 class="book-thumb-title">{{ book.title }}</h2>
            </a>
            <div class="book-image-container">
              <img class="img-responsive" src="{{ book.image_url }}" alt="">
            </div>
            <div class="meta-info">
              <span>Owner:</span>
              <a href="/users/{{ book.ownerId }}" class="thumb-owner">{{ book.ownerName }}</a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 no-books" ng-show="books.length == 0">
          <span class="dark-message">No books to show</span>
        </div>

      </div>
    </div>
  </div>
</div>