<div ng-include src="'views/header.html'"></div>

<link rel="stylesheet" href="css/my-books.css">

<div class="internal-content container">
  <h1 class="title">My Books</h1>

  <div class="book-list">
    <div class="loader-wrap" ng-show="loading > 0">
      <img src="images/loading.gif" alt="">
    </div>

    <div class="row">
      <div class="col-xs-6" ng-repeat="book in myBooks">
        <div class="book">
          <div class="row">
            <div class="book-image-container col-xs-4">
              <img class="img-responsive" src="{{ book.image_url }}" alt="">
            </div>
            <a class="col-xs-8" href="/user/books/book">
              <h2 class="book-thumb-title">{{ book.title }}</h2>
              <a class="btn" ng-click="loadProposes(book)"><i class="fa fa-exchange"></i> {{ book.trades.length }}</a>
              <div class="trade-list col-xs-12" ng-show="book.tradesLoaded">
                <div class="trade" ng-repeat="trade in book.trades">
                  {{ trade._requester.local.email }}
                  <a class="btn" ng-click="rejectTrade(trade._id)"><i class="fa fa-close"></i></a>
                  <a class="btn" ng-click="acceptTrade(trade._id)"><i class="fa fa-check"></i></a>
                </div>
              </div>
              <button ng-click="removeBook(book._id)" class="btn remove-book-btn">
                <i class="fa fa-trash"></i>
              </button>    
            </a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 no-books" ng-show="myBooks.length == 0">
        <span class="dark-message">Add your first book! :)</span>
      </div>
    </div>
  </div>

  <rvgtypeahead ng-model="newBook"></rvgtypeahead>

  <button ng-click="addBook()" ng-disabled="!newBook" class="btn btn-primary">Add book</button>
</div>
