extends ../app
block content
  .row
    .col-xs-offset-3.col-xs-6
      div
        span.talign Login to go to the book trading club
      #form-container
        form(action="/login" method="post")
          div.form-groupcontent
            label Email
            input(type="text" class="form-control" name="email")
          div.form-group
            label Password
            input(type="password" class="form-control" name="password")
            
          button(type="submit" class="btn btn-default btn-block") Login
      div
        a.talign(href="/signup") Create an account
