extends ../app
block content
  h1 My Books
  #books-list
    .row
      .col-xs-3
        .book
          a(href="/user/books/book")
            h2.book-thumb-title A book name
          .book-image-container
            img(src="http://d28hgpri8am2if.cloudfront.net/book_images/cvr9781439148907_9781439148907_hr.jpg")

  a(href="/books/new" class="btn btn-primary") Add book

