<h1>My Books</h1>
<div id="books-list">
  <div class="row">
    <div class="col-xs-3">
      <div class="book">
        <a href="/user/books/book">
          <h2 class="book-thumb-title">{{ book.title }}</h2>
        </a>
          
        <div class="book-image-container">
          <img class="img-responsive" src="http://d28hgpri8am2if.cloudfront.net/book_images/cvr9781439148907_9781439148907_hr.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  
<a href="/books/new" class="btn btn-primary">Add book</a>
