<div class="internal-header">
  <div class="container">
    <div class="row">
      <div class="logo-wrapper col-md-6">
        <a class="light-anchor" href="/">Book Trading Club</a>
      </div>

      <div class="nav col-md-3">
        <a class="light-anchor nav-item" href="/books">Books</a>
        <a class="light-anchor nav-item" href="/my-books">My books</a>
      </div>
      <div class="user-info col-md-3">
        <span class="light-message">{{ currentUser.name }}</span>
        <a href="/settings" class="btn light-anchor">
          <i class="fa fa-gear"></i>
        </a>
        <a href="/logout" class="btn light-anchor">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
  </div>
</div>