<link rel="stylesheet" href="css/home.css">

<div class="photo-background fullscreen-background">
   <div class="mask-background fullscreen-background">
      <div class="header">
         <div class="row">
            <div class="logo-wrapper col-md-6">
               <a href="/" class="logo">Book Trading Club</a href="/">
            </div>
            <div class="nav col-md-6">
               <a class="nav-item" href="/login">Login</a>
               <a class="nav-item" href="/signup">Getting Started</a>
            </div>
         </div>
      </div>

      <div class="container content">
         
         <h1>The book trading club</h1>

         <h2>A web app for passionate readers, exchange their books with other people</h2>
         <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
               <div class="buttons-container">
                  <a class="btn btn-home" href="/signup">Signup</a>
                  <a class="btn btn-home" href="/login">Login</a>
               </div>
            </div>

         </div>
         
      </div>
      <div class="footer">
         <div class="container">
            <div class="content">
               <a href="https://github.com/Rodrigo-Vargas">@Rodrigo-Vargas</a>
               <a href="rodrigovargas.me">Website</a>
               <a href="https://www.linkedin.com/in/rodrigo-vargas-894a3637">Linkedin</a>
            </div>   
         </div>         
      </div>
   </div>
</div>